.App {
  text-align: center;
background-color: rgb(215, 172, 255);
}

.click-container{
  display:flex;
  margin: 0 auto;
  /* justify-content: center; */
  justify-content:space-around;
  width:900px;
  background-color: rgb(159, 56, 255);
}
